body{
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
    font-family: 'Times new roman' , serif;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.content{
    position: absolute;
    font-family: 'Times new roman' , serif;
    font-size: 100px;
    color: black;
    margin-top:2%;
    margin-left: 37%;
}

.signup {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:90%;
    position:absolute;
    margin-top:2%;
}

  .login {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:81.5%;
    position:absolute;
    margin-top:2%;

  }
a.button{
    color:white;
    text-decoration: none;
    margin-top:-40%;
}
.mail{
    position:absolute;
    margin-top:17%;
    margin-left:33%;
    width:29%;
    height:20%;
    background-color:rgb(255,255,255,0.3);
    border-radius:5px;
}
.mail label{
    font-family: 'Times New Roman', Times, serif;
    font-size:25px;
    padding:10px;
    margin-top:10px;
    padding-left:20px;
}
.mail select{
   margin-top:10%;
   margin-left:6%;
   width:65%;
   height:25%;
   font-family: cursive;
   font-weight:bold;
}
.mail .go {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:5%;
    position:absolute;
    margin-top:10%;
}


.mail #png{
    position:absolute;
    margin-left:53%;
    margin-top:-7%;
}