body{
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
    font-family: 'Times new roman' , serif;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.content{
    position: absolute;
    font-family: 'Times new roman' , serif;
    font-size: 100px;
    color: black;
    margin-top:2%;
    margin-left: 37%;
}

.mail{
    position:absolute;
    margin-top:15%;
    margin-left:33%;
    width:29%;
    height:45%;
    background-color:rgb(255,255,255,0.3);
    border-radius:5px;
}

.mail .login {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:30%;
    position:absolute;
    margin-top:65%;
}
.mail .signup {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:50%;
    position:absolute;
    margin-top:65%;
}
a.button{
    text-decoration: none;
    color: white;
}

.mail #png 
{
   position: absolute;
   margin-left:40%;
   margin-top:-5%;
}