<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/category.css" type="text/css">
    <title>Epicerie</title>
</head>

<body style="background-image:url(/images/b5.jpg)" center center fixed>
    <div class="loc">
        <h1>Welcome to {{location}}!</h1>
    </div>
    <div class="logout">
        <a href="/logout" class="button">Log Out</a>
    </div>
    <form action = "/auth/user" method = "post">
        {{!-- <img src="/images/login4.png" alt="login" style="width:7%;" id="png"> --}}
        <input type="image" src="/images/login4.png" alt="Submit button" style="width:7%;" id="png">
    </form>
    <div class = "food">
        <img src="/images/food.png" alt="login"id="image">
    </div>
    <div class = "table">
        <img src="/images/table.jpg" alt="login" id="image">
    </div>
    <div class = "games">
        <img src="/images/games.jpg" alt="login" id="image">
    </div>
</body>

</html>