<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/foodmenu.css" type="text/css">
    <title>Document</title>
</head>

<body style="background-image:url(/images/b5.jpg)" center center fixed>
    <div class="loc">
        <h1>Food Menu</h1>
    </div>
    <div class="foodmenu">
        <h2>Breakfast</h2>
        <ul class="b">
            <li>Aloo Parantha</li>
            <li>Mix Parantha</li>
            <li>Onion Parantha</li>
            <li>Paneer Parantha</li>
        </ul>
        <h2>Main Course</h2>
        <ul class="mc">
            <li>Aloo Zeera</li>
            <li>Rajma</li>
            <li>Dal tadka</li>
            <li>Dal Makhni</li>
            <li>Mix Veg</li>
            <li>Channa Masala</li>
            <li>Kashmiri Dam Aloo</li>
            <li>Malai Kofta</li>
            <li>Kadahi Paneer</li>
            <li>Shahi Paneer</li>
            <li>Cheese Tomato</li>
            <li>Paneer Tikka Masala</li>
            <li>Paneer Butter Masala</li>
            <li>Palak Paneer</li>
            <li>Paneer Dhania Adrakhi</li>
            <li>Paneer Bhurji</li>
            <li>Mutter Paneer</li>
            <li>Mutter Mushroom</li>
            <li>Mushroom Masala</li>
        </ul>
        <h2>Chinese</h2>
        <ul>
            <li>Fried Rice</li>
            <li>Veg Noodles</li>
            <li>Cheese Noodles</li>
            <li>Chilly Garlic Noodles</li>
            <li>Manchurian</li>
            <li>Cheese Chilly</li>
            <li>Mushroom Chilly</li>
            <li>Honey Gobhi</li>
            <li>Honey Chilly potato</li>
        </ul>
        <h2>Sandwich</h2>
        <ul>
            <li>Veg Sandwich</li>
            <li>Cheese Sandwich</li>
            <li>Corn Sandwich</li>
        </ul>
        <h2>Burger</h2>
        <ul>
            <li>Aloo Tikki Burger</li>
            <li>Veg Tikki Burger</li>
            <li>Cheese Burger</li>
            <li>Pineapple Burger</li>
            <li>Peas Corn Burger</li> 
            <li>Double Tikki Burger</li>      
        </ul>
        <h2>Beverages</h2>
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
            <li>Juice</li>
            <li>Water</li>
        </ul>
        <h2>Indian Bread</h2>
        <ul>
            <li>Tawa Roti</li>
            <li>Tandoori Roti</li>
            <li>Butter Roti</li>
            <li>Missi Roti</li>
            <li>Lacha Parantha</li>
            <li>Plain Naan</li>
            <li>Butter Naan</li>
            <li>Garlic Naan</li>
            <li>Cheese Naan</li>
        </ul>
        <h2>Rice</h2>
        <ul>
            <li>Zeera Rice</li>
            <li>Veg Biryani</li>
            <li>Peas Pulao</li>
        </ul>
        <h2>Raita</h2>
        <ul>
            <li>Dahi</li>
            <li>Bundi raita</li>
            <li>Mix raita</li>
            <li>Pineapple raita</li>
            <li>Alu raita</li>
        </ul>
        <h2>Salad</h2>
        <ul>
            <li>Green Salad</li>
            <li>Cream Salad</li>
        </ul>
    </div>
</body>

</html>