<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
    <link rel='icon' href='/icon.png' />
    <title>Epicerie</title>
</head>

<body style="background-image:url(/images/b5.jpg)" center center fixed>
    <div class="content">
        <span>Epicerie</span>
    </div>
    <div class='mail'>
        <img src="/images/login4.png" alt="login" style="width:40%;height:45%;" id="png">
        <form action="/auth/login" method="POST">
            <div class="txt_field">
                <input type="text" name="username" id="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">
                <a href="/forgot_password">Forgot Password?</a>
            </div>
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a member? <a href="/signup">Signup</a>
            </div>
        </form>
        {{#if message}}
            <h4> {{ message }}</h4>
        {{/if}}
    </div>
</body>