<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/logout.css" type="text/css">
    <title>Epicerie</title>
</head>

<body style="background-image:url(/images/b5.jpg)" center center fixed>
    <div class="content">
        <span>Epicerie</span>
    </div>
    <form action='/auth/welcome' method='post'>
        <div class="back">
            <input type="submit" value="Back" class="button">
        </div>
    </form>
    <form action="/auth/logout" method="post">
        <div class='mail'>
            <p>Thankyou for Visiting Us!</p>
            <div class="logout">
                <input type='submit' href="/" value="Logout" class="button">
            </div>

        </div>
    </form>

</body>

</html>