<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Overview.css" type="text/css">
  <title>Epicerie</title>
</head>

<body style="background-image:url(/images/b5.jpg)" center center fixed>
  <div class="loc">
    <h1>Welcome to Delhi!</h1>
  </div>
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="/images/B2.jpg" height="400" width="655">
    </div>
    <div class="mySlides fade">
      <img src="/images/b5.jpg" height="400" width="655">
    </div>
    <div class="mySlides fade">
      <img src="/images/b4.jpg" height="400" width="655">
    </div>
    <div class="mySlides fade">
      <img src="/images/b3.jpg" height="400" width="655">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class = "description">
      <span>This is description</span>
    </div>
  </div>
  <div class = "location">
    <label for="location">Choose Your Location<br></label>
        <select id="locations" name="locationlist" form="locationform">
            <option value="one">Location 1</option>
            <option value="two">Location 2</option>
            <option value="three">Location 3</option>
            <option value="four">Location 4</option>
        </select>
  </div>
  <br>
</body>
<script type="text/javascript" src="/js_sheets/Overview.js"></script>

</html>