<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user.css" type="text/css">
    <title>Document</title>
</head>


<body style="background-image:url(/images/b5.jpg)" center center fixed>
    <div class="content">
        <img src="/images/login.png" alt="login" id="png">
        <span id="info">Full Name - Payal Jain<br>Email ID - 1511payal.jain@gmail.com<br>User Name -
            payaljain1511<br>Contact Number - 9041601092</span>
        <div class="edit">
            <a href="#" class="button">Edit</a>
        </div>

        <div class="cpass">
            <a href="/forgot_password" class="button">Change Password</a>
        </div>
        <div class="dmt">
            <a href="/delete" class="button">Delete My Trip</a>
        </div>
    </div>
    <div class="lout">
        <a href="/logout" class="button">Log Out</a>
    </div>
    <div class="back">
        <a href="/welcome" class="button">Back</a>
    </div>
    <div class="heading">
        <p>YOUR TRIPS</p>
    </div>

    {{!-- loop begins --}}

    <div class="trips">
        <span id="city">Delhi</span>
        <span id="loc">Lotus Garden</span>
        <span id="rest">Number Of Persons:4<br>Date:28-06-2022<br>Time Slot:Late Night(9:00 PM - 12:00PM)<br>Table
            Number - 1<br>Game - Bowling<br><strong>Total Bill - INR 3000</strong></span>
        {{!-- <input type="image" src="/images/delete.png" alt="del" id="del"> --}}
        <img src="/images/table.jpg" alt="login" id="image">
    </div>
    <div class="trips">
        <span id="city">Delhi</span>
        <span id="loc">Lotus Garden</span>
        <span id="rest">Number Of Persons:4<br>Date:28-06-2022<br>Time Slot:Late Night(9:00 PM - 12:00PM)<br>Table
            Number - 1<br>Game - Bowling<br><strong>Total Bill - INR 3000</strong></span>
        {{!-- <input type="image" src="/images/delete.png" alt="del" id="del"> --}}
        <img src="/images/table.jpg" alt="login" id="image">
    </div>
    <div class="trips">
        <span id="city">Delhi</span>
        <span id="loc">Lotus Garden</span>
        <span id="rest">Number Of Persons:4<br>Date:28-06-2022<br>Time Slot:Late Night(9:00 PM - 12:00PM)<br>Table
            Number - 1<br>Game - Bowling<br><strong>Total Bill - INR 3000</strong></span>
        {{!-- <input type="image" src="/images/delete.png" alt="del" id="del"> --}}
        <img src="/images/table.jpg" alt="login" id="image">
    </div>
    <div class="trips">
        <span id="city">Delhi</span>
        <span id="loc">Lotus Garden</span>
        <span id="rest">Number Of Persons:4<br>Date:28-06-2022<br>Time Slot:Late Night(9:00 PM - 12:00PM)<br>Table
            Number - 1<br>Game - Bowling<br><strong>Total Bill - INR 3000</strong></span>
        {{!-- <input type="image" src="/images/delete.png" alt="del" id="del"> --}}
        <img src="/images/table.jpg" alt="login" id="image">
    </div>
    <br>
    <br>



</body>


</html>