<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user.css" type="text/css">
    <title>Document</title>
</head>
<body style="background-image:url(/images/b5.jpg)" center center fixed>
    <div class = "content">
        <img src="/images/login.png" alt="login" id="png">
        <span>Full Name - Payal Jain<br>Email ID - 1511payal.jain@gmail.com<br>User Name - payaljain1511<br>Contact Number - 9041601092</span>
</body>
</html>