<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/welcome.css" type="text/css">
    <link rel='icon' href='/images/icon.png' />
    <title>Epicerie</title>
</head>

<body style="background-image:url(/images/b5.jpg)" center center fixed>
    <div class="content">
        <span>Epicerie</span>
    </div>
    <div class="msg">
        <p>Welcome Username!</p>
    </div>
    <div class="logout">
    <a href="logout" class="button">Log Out</a>
    </div>
    <img src="/images/login4.png" alt="login" style="width:7%;height7%;" id="png">
    <div class='mail'>
        <label for="location">Choose Your Location<br></label>
        <select id="locations" name="locationlist" form="locationform">
            <option value="Delhi">Delhi</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Shimla">Shimla</option>
            <option value="Kolkata">Kolkata</option>
        </select>
        <div class="go">
            <a href="/Overview" class="button">Go!</a>
        </div>
    </div>
</body>