<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/welcome.css" type="text/css">
    <link rel='icon' href='/images/icon.png' />
    <title>Epicerie</title>
    <script>
        function background(x) {
            x = "/images/" + x + ".jpg";
            document.body.style.backgroundImage = "url('" + x + "')";
        }
    </script>
</head>

<body style="background-image:url(/images/Delhi.jpg)" center center fixed>
    <div class="content">
        <span>Epicerie</span>
    </div>
    <div class="msg">
        <p>Welcome {{data}} !</p>
    </div>
    <div class="logout">
        <a href="/logout" class="button">Log Out</a>
    </div>
    <img src="/images/login4.png" alt="login" style="width:7%;height7%;" id="png">
    <form action="/auth/images" method="post">
        <div class='mail'>
            <label for="location">Choose Your Location<br></label>
            <select id="locations" name="locationlist" onchange="background(this.value)">
                <option value="Delhi">Delhi</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Shimla">Shimla</option>
                <option value="Bangalore">Bangalore</option>
            </select>
            <div class="go">
                <input type="submit" value='Go!' class="button">
            </div>
        </div>
    </form>




</body>

</html>