body{
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
    font-family: 'Times new roman' , serif;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
* {box-sizing:border-box}
.loc{
  margin-left:5%;
  font-size:20px;
}
.logout{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:85%;
    position:absolute;
    margin-top:-5%;
  }
  #png{
    position:absolute;
    margin-left:92%;
    margin-top:-7%;
  }
  #image{
    position:absolute;
    padding:20px;
    height:180px;
    width:200px;
    margin-left:83%;
    padding-left:20px;
  }
  a.button:hover{
    background-color:white;
    color: black;
  }
  a.button{
    color:white;
    text-decoration: none;
    margin-top:-40%;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .food{
    position:relative;
    margin-top:0%;
    margin-left:5%;
    width:90%;
    height:200px;
    background-color:rgb(255,255,255,0.7);
    border-radius:5px;
    /* border:red solid 5px; */
}
.table{
    position:relative;
    margin-top:5%;
    margin-left:5%;
    width:90%;
    height:200px;
    background-color:rgb(255,255,255,0.7);
    border-radius:5px;
    /* border:red solid 5px; */
}
.games{
    position:relative;
    margin-top:5%;
    margin-left:5%;
    width:90%;
    height:200px;
    background-color:rgb(255,255,255,0.7);
    border-radius:5px;
    /* border:red solid 5px; */
}

.food span{
  position:absolute;
  font-family: cursive;
  padding:20px;
  font-weight: bold;
  font-size:25px;
}
.table span{
  position:absolute;
  font-family: cursive;
  padding:20px;
  font-weight: bold;
  font-size:25px;
}
.games span{
  position:absolute;
  font-family: cursive;
  padding:20px;
  font-weight: bold;
  font-size:25px;
}

.foodmenu{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:3%;
  position:absolute;
  margin-top:10%;
}

a.button:hover{
  background-color:white;
  color: black;
}
a.button{
  color:white;
  text-decoration: none;
  margin-top:-40%;
  padding: 5px 10px;
  border-radius: 5px;
}

.settable{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:3%;
  position:absolute;
  margin-top:12%;
}

.foodmenu{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:3%;
  position:absolute;
  margin-top:10%;
}

.play{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:3%;
  position:absolute;
  margin-top:10%;
}

