body{
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
    font-family: 'Times new roman' , serif;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
* {box-sizing:border-box}
.loc{
  margin-left:5%;
  font-size:20px;
}
.logout{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:85%;
    position:absolute;
    margin-top:-5%;
  }
  #png{
    position:absolute;
    margin-left:92%;
    margin-top:-7%;
  }
  #image{
    position:absolute;
    padding:20px;
    height:180px;
    width:180px;
    margin-left:83%;
  }
  a.button:hover{
    background-color:white;
    color: black;
  }
  a.button{
    color:white;
    text-decoration: none;
    margin-top:-40%;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .food{
    position:relative;
    margin-top:0%;
    margin-left:5%;
    width:90%;
    height:200px;
    background-color:rgb(255,255,255,0.7);
    border-radius:5px;
    /* border:red solid 5px; */
}
.table{
    position:relative;
    margin-top:5%;
    margin-left:5%;
    width:90%;
    height:200px;
    background-color:rgb(255,255,255,0.7);
    border-radius:5px;
    /* border:red solid 5px; */
}
.games{
    position:relative;
    margin-top:5%;
    margin-left:5%;
    width:90%;
    height:200px;
    background-color:rgb(255,255,255,0.7);
    border-radius:5px;
    /* border:red solid 5px; */
}
