body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: 'Times new roman', serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 90vh;
    padding: 10px;
}

.container {
    /* max-width: 700px; */
    width: 50%;
    background: rgba(255, 255, 255, 0.5);
    padding: 25px 30px;
    border-radius: 5px;
    margin-left:20%;
    margin-top:3%;
}

.container .title {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

/* .container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.details{
    font-size: 20px;
}
form .user-details .input-box {
    margin-bottom: 15px;
    /* width: calc(100% / 2 - 30px); */
    width:90%;

}

.user-details .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: black;
}

form .button {
    height: 45px;
    margin: 45px 0;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius:15px;
    width:90%;
}

input[type="submit"] {

    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 15px;
    width:100%;

}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    letter-spacing: 1px;
}

input[type="submit"]:hover {
    background-image: linear-gradient(144deg, #8b0de4, #2100f8 50%, #03eeff);
    transition: .0s;
}

@media screen and (max-width: 300px) {
    .input-box ,.details{
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

#back {

    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-size: 20px;
    /* margin-left: -100%; */
    position: relative;
    margin-top: 0%;
    cursor: pointer;
    min-width:150%;
}
#back:hover {
    background-image: linear-gradient(144deg, #8b0de4, #2100f8 50%, #03eeff);
    color: black;
}