body{
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
    font-family: 'Times new roman' , serif;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
* {box-sizing:border-box}
.loc{
  margin-left:5%;
  font-size:20px;
}
/* Slideshow container */
.slideshow-container {
  height: 400px;
  width: 90%;
  margin-top:0%;
  margin-left:5%;
  position: relative;
  float: left;
  /* border: red solid 5px; */

}

/* Hide the images by default */
.mySlides {
  display: none;
  /* float: left; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  width: auto;
  margin-top: -225px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* float: left; */
}

/* Position the "next button" to the right */
.next {
  margin-left: 612px;
  /* border-radius: 3px 0 0 3px;
  margin-left:-610px; */
  
} 

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.description span {
  /* border:red solid 5px; */
  font-size: 24px;
  position:absolute;
  /* width:40%;
  height:40%; */
  margin-top:-30%;
  margin-left:60%;
  background-color:rgba(253, 123, 24, 0.652);
  border-radius:5px;
  float: right;
}

.location{
  position:absolute;
  margin-top:35%;
  margin-left:5%;
  width:90%;
  background-color:rgb(255,255,255,0.3);
  border-radius:5px;
}
.location label{
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
  padding:45px;
  padding-bottom:20px;
  margin-bottom:20px;
}
.location select {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 5%;
  width: 83%;
  height: 25%;
  font-family: cursive;
  font-weight: bold;
}

.menu{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:5%;
  position:absolute;
  margin-top:45%;
}

a.button{
  color:white;
  text-decoration: none;
  margin-top:-40%;
  padding: 5px 10px;
  border-radius: 5px;
}
.dec{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:55%;
  position:absolute;
  margin-top:45%;
}
a.button:hover{
  background-color:white;
  color: black;
}
.logout{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:85%;
  position:absolute;
  margin-top:-5%;
}
#png{
  position:absolute;
  margin-left:-3%;
  margin-top:-7%;
}
.sub{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:90%;
  position:absolute;
  margin-top:-5.5%;
  
}