body{
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
    font-family: 'Times new roman' , serif;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.content {
    font-size: 24px;
    position:relative;
    width:80%;
    height:60%;
    margin-top:5%;
    margin-left:10%;
    background-color:rgba(211, 204, 204, 0.652);
    border-radius:5px;
    /* text-align: center; */
    /* display: flex; */
    /* align-items:center;
    justify-content:center; */
  }

#png{
    height:80%;
    width:25%;
    margin-top:2%;
    margin-left:5%;
}

span#info{
    position:absolute;
    margin-top:5%;
    margin-left:3%;
    /* position:relative; */
    /* margin-top:-40%; */
    padding:20px;
    font-weight:bold;
    font-family:cursive;
}

a.button:hover{
  background-image: linear-gradient(144deg, #8b0de4, #2100f8 50%, #03eeff);
    color: black;
  }
a.button{
    color:white;
    text-decoration: none;
    margin-top:-40%;
    padding: 5px 10px;
    border-radius: 5px;
}

.edit{
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:35%;
    position:absolute;
    margin-top:-5%;
  } 

  .cpass{
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:42%;
    position:absolute;

    margin-top:-5%;
  } 
  .dmt{
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:60%;
    position:absolute;

    margin-top:-5%;
  }
  .lout{
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-size:20px;
    margin-left:80%;
    position:absolute;
    margin-top:-26%;
  } 

  .back{
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: none;
    color: white;
    /* padding: 5px 0px; */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    /* font-size:25px; */
    margin-left:90%;
    position:absolute;
    margin-top:-26%;
  } 

  .trips {
    font-size: 24px;
    position:relative;
    width:80%;
    height: 290px;
    margin-top:2%;
    margin-left:10%;
    background-color:rgba(211, 204, 204, 0.7);
    border-radius:5px;
    /* text-align: center; */
    /* display: flex; */
    /* align-items:center;
    justify-content:center; */

  }
span#city{
    font-size:40px;
    font-weight:bold;
    position:absolute;
    padding:5px;
    font-family:'Times New Roman', Times, serif;
    /* text-align:center; */
    margin-left:5%;
}

span#loc{
    position:absolute;
    font-size:35px;
    /* font-weight: bold; */
    font-family: 'Times New Roman', Times, serif;
    margin-top:5%;
    margin-left:5%;
    /* text-align: center; */
}
span#rest{
    position:absolute;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:10%;
    margin-left:5%;

}

.heading {
    font-size: 40px;
    position:relative;
    width:80%;
    height:75px;
    margin-top:2%;
    margin-left:10%;
    background-color:rgba(211, 204, 204, 0.7);
    border-radius:5px;
    text-align: center;
    display: flex; 
    align-items:center;
    justify-content:center;

  }
  #image{
    position:absolute;
    padding:20px;
    height:75%;
    width:20%;
    margin-left:70%;
    padding-left:20px;
  }

.download{
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-size:20px;
  margin-left:76%;
  position:absolute;

  margin-top:-5%;
}
input[type="submit"] {
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  color: white;
  padding: 7px 10px;
  border-radius:5px;
  border:none;
  font-size:16px;
}

input[type="submit"]:hover {
  background-image: linear-gradient(144deg, #8b0de4, #2100f8 50%, #03eeff);
  color: black;

}
